.response-container {
  width: 75%;
  margin: auto;
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgb(240, 248, 255, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 60px;
  text-shadow: 2px 2px 4px skyblue;
}

p { 
font-size: 30px;
font-weight: 700;
color: red;
}

.img {
  animation: rotation 2s infinite linear;
}

button {
  width: fit-content;
  margin-top: 20px;
  font-size: 30px;
  padding: 5px;
  background-color: aliceblue;
  border: solid 1px green;
  color: green;
  border-radius: 10px;
  transition: 0.25s;
}

button:hover {
  background-color: skyblue;
  border: solid 1px aliceblue;
  color: aliceblue;
  font-size: 35px;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 540px){

  .title {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 20px;
  }

  .img {
    max-width: 80px;
    height: auto;
  }

}