.page-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.home-page {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  margin-bottom: 200px;
}

.home-text {
  margin-top: 200px;
  font-size: 80px;
  color: rgb(240, 248, 255, 0.8);
  text-shadow: 2px 2px 4px green;
  align-self: flex-start;
  text-align: center;
}

.earth {
  transform: translateZ(-10px) scale(2);
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: contain;
  z-index: -1;
}

.cloud {
  transform: translateZ(-5px) scale(1);
}

.airplane {
  align-self: flex-end;
  width: 120px;
  transform: rotate(-45deg);
  margin-bottom: 50px;
}

@media (max-width: 400px){

  .home-page {
    margin-top: -200px;
    margin-bottom: 50px;
  }

  .home-text {
    margin-top: 100px;
    font-size: 40px;
  }

  .cloud {
    align-self: center;
  }

  .airplane {
    width: 80px;
    margin-bottom: 50px;
  }

}