<div class="form-container">

  <h3 class="form-title"> Calculate your trip footprint</h3>

  <form class="form" #form="ngForm" (ngSubmit)="login(form)">

    <div class="select-container">
      <label>number of passengers</label>
      <input name="passengers" type="number" ngModel required>
    </div>

    <div class="select-container">
      <label>Departure airport code</label>
      <select name="origin" type="text" ngModel required>
        <option *ngFor=" let airport of airports">{{airport.city}} ({{airport.code}})</option>
      </select>
    </div>

    <div class="select-container">
      <label>Arrival airport code</label>
      <select name="destination" type="text" ngModel required>
        <option *ngFor=" let airport of airports">{{airport.city}} ({{airport.code}})</option>
      </select>
    </div>

    <div class="select-container">
      <label>Cabin class</label>
      <select name="cabinClass" type="text" ngModel required>
        <option>unknown</option>
        <option>economy</option>
        <option>business</option>
        <option>first</option>
      </select>
    </div>

    <button type="submit" [disabled]="form.invalid">Calculate</button>

  </form>
</div>
