.header-container {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.img {
  width: 8vw;
  height: auto;
  margin-right: 25px;
}

.title {
  font-size: 8vw;
}

@media (max-width: 640px){

  .title {
    font-size: 10vw;
  }

  .img {
    width: 12vw;
  }

}