* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Amatic SC', cursive;
}

body {
  background-color: skyblue;
}

a {
  color: black;
}

a:hover {
  color: green;
  font-size: 125%;
}